APP_USERNAME=admin
APP_PASSWORD=replace_with_your_password

DB_SERVER=your_server.database.windows.net
DB_DATABASE=your_database
DB_USERNAME=your_username
DB_PASSWORD=replace_with_your_password
DB_DRIVER=ODBC Driver 18 for SQL Server